* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    transition: all 0.3s ease-in-out;
}

main{
    display: flex;
    height: 100vh;
}
.container {
    display: flex;
    width: 100%;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    padding: 10px;
}

.sidebar nav ul li a:hover {
    background: #1e3358;
}

.sidebar {
    width: 20%;
    background: rgb(1, 1, 79);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 30px;
}
.logo {
    text-align: center;
    margin-bottom: 20px;
}
.logo .logo-text {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.title {
    font-size: 12px;
    opacity: 0.7;
}


.social-icons i {
    color: blue;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    margin:20% 0;
    border-radius: 50%;
    background-color: lightblue;
    margin-left: 10px;
}

.footer p{
    margin-top:30%;
}
/* main-content */
.content {
    width: 80%;
    position: relative;
    background: url('./assets/image.png') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background: rgba(73, 175, 203, 0.2); 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    text-align: center;
    color: white;
    max-width: 50%;
}

.text h1 {
    font-size: 40px;
}

.text p {
    font-size: 16px;
    margin: 15px 0;
    line-height: 1.5em;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 12px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 15px;
    margin-right: 10px;
    background: black;
    color: white;
}
.overlay .text, .buttons{
    animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-400px); }
    to { opacity: 1; transform: translateY(0); }
}

.btn:hover {
    box-shadow: 0 0 10px rgb(70, 229, 229), 0 0 20px rgb(70, 229, 229), 0 0 40px rgb(70, 229, 229);
}


@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 0;
    }

    .sidebar nav ul {
        flex-direction: column;
        align-items: center;
    }

    .content {
        width: 100%;
        height: auto;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 80%;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .text h1 {
        font-size: 20px;
    }

    .text p {
        font-size: 14px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 80%;
        text-align: center;
        margin-bottom: 10px;
    }
}