* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #ff7043;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.search-icon {
    font-size: 20px;
}
main{
    margin-top: 10px;
}
.date{
    color:gray;
}
img{
    Margin: 10px;
    position: relative;
    width:50%;
    height:70vh;
    
}
.overlay {
    position: absolute;
    top: 18%;
    left: 5%;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.ingredients-content h2{
margin: 20px;
}
.ingredients-list li{
margin:0 150px;
padding:10px 5px;
}

.preparation-content h2{
margin: 20px;
}
.preparation-list li{
margin:0 150px;
padding:10px 5px;
}


.back-to-top a {
    padding: 10px 20px;
    background: #f64a15;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    transition: background 0.3s;
    position: fixed;
    bottom:50px;
    right:0;
}

.back-to-top a:hover {
    background: #cd8b77;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
@media (max-width: 768px) {
.header {
flex-direction: column;
text-align: center;
padding: 10px;
}

.nav {
flex-direction: column;
gap: 5px;
}

img {
width: 100%;
max-height: 40vh;
}
html, body {
    width: 100%;
    overflow-x: hidden; 
}
.overlay {
top: 40%;
left: 15%;
width: 80%;
font-size: 14px;
}



}

@media (max-width: 480px) {

.logo {
font-size: 20px;
}

.nav a {
font-size: 16px;
}

.overlay {
font-size: 10px;
}

.ingredients-content h2,
.preparation-content h2 {
font-size: 20px;
}

.ingredients-list li,
.preparation-list li {
font-size: 12px;
margin: 0 20px;
}

.back-to-top a {
font-size: 12px;
padding: 6px 12px;
}
}