* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 15px 30px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/Webinar-tips-to-deliver-online-courses-1.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.content {
    display: flex;
    width: 80%;
    margin-bottom: 20px;
}

.left-section {
    flex: 2;
    padding: 40px;
}

.left-section h1,
h3,
p {
    margin-bottom: 10px;
}

.left-section {
    line-height: 1.5;
}

.countdown {
    display: flex;
    gap: 15px;
}

.countdown div {
    background: #e8e2a7;
    color: black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;

}

.right-section {
    flex: 1;
    background: #4aa39d;
    padding: 10px;
    text-align: center;
}

.right-section h2 {
    margin: 15px 0;
}

.right-section input,
select {
    width: 100%;
    padding: 10px;
    margin: 20px 0;

}

.register-btn {
    background: red;
    color: white;
    border: none;
    padding: 10px 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px 0;

}

.register-btn:hover {
    background: rgb(250, 214, 6);
}

.description,
.agenda,
.facts {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    Padding: 30px;
    line-height: 1.5;
    font-weight: bolder;
}

.description h2,
.agenda h2,
.facts h2 {
    color: rgb(250, 214, 6);
}

.speaker {
    display: flex;
    gap: 20px;
}

.speaker-card {
    width: 20vw;
    background: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    color: rgb(250, 214, 6);
}

.speaker-card:hover {
    transform: scale(1.2);
}

.speaker-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

footer {
    background: #222;
    padding: 15px;
    text-align: center;
}

@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 30%;
        background-color: #333;
        text-align: left;
        padding: 10px 0;
    }

    .menu-icon {
        display: block;
    }

    #menu-toggle:checked~nav {
        display: flex;
    }

    nav a {
        display: block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .left-section,
    .right-section {
        width: 100%;
        padding: 20px;
    }

    .countdown {
        flex-wrap: wrap;
        justify-content: center;
    }

    .description,
    .agenda,
    .facts {
        padding: 15px;
    }

    .speaker {
        flex-direction: column;
        align-items: center;
    }

    .speaker-card {
        width: 80%;
        margin-bottom: 15px;
    }

}